@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-snap-type: none;
  transition-duration: 1000ms;
}

section {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.dots {
  max-width: 12px;
  width: 12px;
}

@media(min-width: 1024px) {
  .dots {
    max-width: 22px;
    width: 22px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: #02000B;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

body::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}
