.nav {
  transition: all 0.5s;
  z-index: 4;
  /* background: transparent; */
  /* max-height: 147px; */
  /* max-height: 151px; */
  /* height: 100%; */
  width: 100%;
  position: relative;
}

@media (min-width: 1024px) {
  .nav {
    /* background: white; */
    width: 100%;
  }
}

.nav.active {
  background: #02000b;
}

.fixedTop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.dropdown:hover {
  transition: 0.5s;
}

.nav .dropdown ul li {
  min-width: 200px;
}
.nav .dropdown ul a {
  padding: 10px 20px;
  /* font-size: 14px; */
  color: #003651;
}
.nav .dropdown ul a i {
  /* font-size: 12px; */
}
.nav .dropdown ul a:hover,
.nav .dropdown ul .active:hover,
.nav .dropdown ul li:hover > a {
  color: #ccdc;
}
.nav .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.nav .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.nav .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 400px) {
  .hidden {
    display: none;
  }
  .hidden a {
    display: block;
  }
}

.mobile-menu {
  background-color: #fff;
  position: absolute;
  width: 90%;
}

@media (max-width: 800px) {
  .nav {
    max-height: 100px;
    height: 100%;
  }
}
